div{
    width: 600px;
    margin: 0 auto;
    font-size: 38px;
    font-family: Arial, Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #414141;
}
.bbb{

}

.aligncenter {
    text-align: center;
}
